body {
    background-image: url('../img/wood.jpg');
}


h1 {
    font-family: 'Shadows Into Light';
}

h2 {
    font-family: 'Antic Slab';
    text-align: left;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 3%;
}

h3 {
    font-family: 'Antic Slab';
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
}

h4 {
    font-family: 'Antic Slab';
    text-align: center;
    font-size: 0.8rem;
}

p {
    font-family: 'Fijalla One';
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
}

.container {
    background-color: #ffffff;
    max-width: 1000px;
    margin: auto;
    width: 90%;
    margin-bottom: 5%;
    margin-top: 2%;
}

#desktopfooter {
    display: none;
}

table {
    width: 100%;
    text-align: center;
    font-family: 'Antic Slab';
    padding: 3% 0 3% 0;
}

i {
    padding: 1%;
}

#mobilefooter div {
    margin: auto;
    padding-bottom: 1%;
}

#boarding {
    background-color: #e3e3e3;
    padding: 5% 0 5% 0;
}

#grooming {
    padding: 5% 0 5% 0;
}

#daycare {
    background-color: #e3e3e3;
    padding: 5% 0 5% 0;
}

#training {
    padding: 5% 0 5% 0;
}

#events {
    background-color: #e3e3e3;
    padding: 10% 0 10% 0;
}
#events p {
  max-width: 325px;
}

button {
  margin-left: 3%;
  display: block;
  padding: 2%;
  width: 40%;
  max-width: 200px;
  font-size: 1.2rem;
  font-family: 'Shadows Into Light';
}

@media (min-width: 750px) {

    #mobilefooter {
        display: none;
    }

    #desktopfooter {
        display: block;
    }

}

